body{
    background-color: #E9ECEF;
}
h2{
  text-align:center;
  color: red;
}

.jumbotron{
    list-style-position: inside;
}
.jumbotron.btn {
    margin: 50%;
}

img{
    width: 300px;
    height: 300px;
}
.card{
    margin: auto;
}